body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}
#job_opening{
  text-decoration: underline;
  text-align: center;
}
header {
  background-color: #56db61;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header img {
  height: 50px;
  margin-right: 2rem;
}
section {
  max-width: 800px;
  margin: 120px auto;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}
h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}
button {
  background-color: #17bd2d;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
button:hover {
  background-color: #fff;
  color: #1e90ff;
  border: 2px solid #1e90ff;
  transition: all 0.3s ease;
}
footer {
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 0;
  background-color: #f7f7f7;
  border-top: 1px solid #ddd;
}

footer p {
  font-size: 0.9rem;
  color: #555;
  margin: 0;
}